# Database
DATABASE_URL=postgresql://postgres:postgres@advsupabaseadv.vpsubuntu.advancedhealth.com.co:5432/postgres

# Supabase
SUPABASE_URL=https://advsupabaseadv.vpsubuntu.advancedhealth.com.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.PfipuRD4G1q2wBDr_Wk398aKdmM2VEFR8528tMfoyjI

# Agendador
AGENDADOR_API_URL=https://agendador.smartnexo.com/api

# Alegra
ALEGRA_USER=info@puntofusion.com
ALEGRA_TOKEN=882ee5cdd3497e46dd5f
